<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>甘特图实现</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div class="main">
        <div class="gantt" id="gantt">
            <div class="gantt-task">
                <div class="placeholderBox">
                    <a href="#download" class="download">导出</a>
                    <div id="imgbox" style="display:none;"></div>
                </div>
                <div class="gantt-date">
                    <div class="gantt-date-year" v-for="y in task.years" track-by="$index">
                        <div class="val">{{y}}</div>
                        <div class="gantt-date-month" v-for="m in task.months[y]"  track-by="$index" >
                            <div class="val">{{ m }}月</div>
                            <div class="gantt-date-day" v-for="i in getdaysByMonth(y,m)" track-by="$index">{{ i+1 }}</div>
                        </div>
                    </div>
                </div>
                <div class="gantt-item-group">
                    <div class="group_item" v-for="item in task.projects" track-by="$index">
                        <div class="gantt-task-parent">
                            <div class="gantt-task-parent-val" style="margin-left:0px;">{{item.name}}</div>
                            <div class="gantt-task-item-date">
                                <div class="gantt-date-day" v-for="i in getIntervalDay()" track-by="$index"></div>
                            </div>
                        </div>
                        <div class="gantt-task-item" v-for="sub in item.childrens" :index="$index" track-by="$index">
                            <div class="gantt-task-item-val" data-startTime="{{sub.startTime}}" data-endTime="{{sub.endTime}}" data-completedTime="{{sub.completedTime}}" data-milestones="{{jsontostring(sub.milestones)}}">{{sub.name}}</div>
                            <div class="gantt-task-item-date">
                                <div class="gantt-date-day" v-for="i in getIntervalDay()" track-by="$index"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">

    var task = {
        "days":591,
        "months":{
            "2016":["05","06","07","08","09","10","11","12"]
        },
        "years":["2016"],
        "projects":[
            {
            "name":"技术",
            "startTime":"2016-01-01",
            "endTime":"2016-12-31",
            "childrens":[
                    {
                        "name":"服务器配置",
                        "startTime":"2016-05-02",
                        "endTime":"2016-06-16",
                        "completedTime":"2016-06-12", // 已完成的时间
                        "milestones":[
                            {
                                "name":"里程碑任务",
                                "time":"2016-06-10"
                            }
                        ]
                    },
                    {
                        "name":"系统配置",
                        "startTime":"2016-08-06",
                        "endTime":"2016-10-10",
                        "completedTime":"2016-10-10" // 已完成的时间
                    },
                    {
                        "name":"环境搭建",
                        "startTime":"2016-11-12",
                        "endTime":"2016-12-31",
                        "completedTime":"2016-12-01", // 已完成的时间
                        "milestones":[
                            {
                                "name":"里程碑任务1",
                                "time":"2016-11-22"
                            },
                            {
                                "name":"里程碑任务2",
                                "time":"2016-12-04"
                            },
                            {
                                "name":"里程碑任务3",
                                "time":"2016-12-07"
                            }
                        ]
                    },
                    {
                        "name":"运维工作",
                        "startTime":"2016-05-01",
                        "endTime":"2016-05-12",
                        "completedTime":"2016-05-11" // 已完成的时间
                    }
                ]
            }
        ]
    };
</script>
<script src="js/vue.js" type="text/javascript"></script>
<script src="js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="js/html2canvas.js" type="text/javascript"></script>
<script src="js/gantt.js" type="text/javascript"></script>

</html>